*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scroll-color1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color2);
    border-radius: 20px;
    border: 1px solid var(--scroll-color1);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

strong {
  font-weight: 500;
  color: var(--color);
}

.light {
  --color: #272b33;
  --bg-color: #fff;
  --border-color: #272b33;
  --scroll-color1: #ddd;
  --scroll-color2: #999;
}

.dark {
  --color: #fff;
  --bg-color: #272b33;
  --border-color: #999;
  --scroll-color1: #272b33;
  --scroll-color2: #444;
}
