*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

.light {
  --color: #272b33;
  --bg-color: #fff;
  --border-color: #272b33;
}

.dark {
  --color: #fff;
  --bg-color: #272b33;
  --border-color: #999;
}
