.Paginator {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  min-width: 40px;
}

.page {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
}
